version: '3.9'

services:
  fastapi:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: rag_api
    ports:
      - "8000:8000"
    volumes:
      - .:/app

  streamlit:
    build:
      context: .
      dockerfile: Dockerfile.streamlit
    container_name: rag_ui
    ports:
      - "8501:8501"
    depends_on:
      - fastapi
    volumes:
      - .:/app
